// base colors
$yellow: #FFCF26;
$grey: #E5E5E5;
$green: #11BE75;
$blue: #4290C9;


// media-queries
$mediaWidthMobile: 320px;
$mediaWidthTablet: 600px;
$mediaWidthTabletHorizontal: 870px;
$mediaWidthLaptop: 1200px;

// fonts
$main-font: 'Roboto', sans-serif;